.navbar{
    /* background-color:#faf9f5;
    font-family:"Poppins",sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    /* position: fixed;
    top: 0;
    left:0;
    width: 100%;
    gap: 20px; 
    z-index: 1000; */ 
    padding: 0;
}
.navdiv{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    /* justify-content: space-between; */
    left:0;
    width: 100%;
    gap: 140px; 
     margin-right: 0px;
     /* background-color:lightpink; */
     background-color: #fff7f0;
    font-family:"Poppins",sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1000;

}
.logo{
    font-size: 39px;
    font-family: 'Dancing Script',cursive;
    /* color: rgb(238, 28, 63); */
    padding: 15px;
}
li{
    /* list-style: none;
    display: inline-block;
    margin-top:30px;
    margin-right: 20px;
    padding-left: 5px; */
    
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 5px;

}

li a{
    text-decoration: none;
    color: rgb(28, 26, 26);
    font-size:15px;
    margin-right: 17px;
    gap: 15px;
    margin-top: 25px;
}
li a:hover{
    /* color: rgb(246, 6, 46); */
    color: #fa2b81;
}
/* .dropdown{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    min-width: 180px;
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    border-radius: 6px;
}
.dropdown-menu li a{
    padding: 10px 15px;
} */
 li a.active{
    /* color:rgb(246, 6, 46); */
    color: #fa2b81;
 }
 .log{
    padding: 8px 8px;
/* margin-right:30px; */
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background:#f5a1c4;
     transition: background-color 0.3s ease,transform 0.3s ease;
     
 }
 .log a{
    color:white;
    text-decoration: none;
   
 }
 .log:hover{
 transform: scale(1.05);
 }
 .sign{
     padding: 8px 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background:#f5a1c4;
     transition: background-color 0.3s ease,transform 0.3s ease;
     margin-left: 20px;
 }
 .sign a{
    color: white;
    text-decoration: none;
 }
 .sign:hover{
    transform: scale(1.05);
 }
.cart-icon{
    color: black !important;
    font-size: 20px;
    position: relative; 
    margin-left: 0px;
}
#cart-count{
/* padding: 2px 6px; */
border-radius: 50%;
font-size: 12px;
}