
.navbar{
    /* background-color:#faf9f5;
    font-family:"Poppins",sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    /* position: fixed;
    top: 0;
    left:0;
    width: 100%;
    gap: 20px; 
    z-index: 1000; */ 
    padding: 0;
}
.navdiv{
    display: flex;
    align-items: center;
    gap: 400px;
    position: fixed;
    top: 0;
    /* justify-content: space-between; */
    left:0;
    width: 100%;
    gap: 140px; 
     margin-right: 0px;
     /* background-color:lightpink; */
     background-color: #fff7f0;
  
    font-family:"Poppins",sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1000;

}
.logo{
    font-size: 39px;
    font-family: 'Dancing Script',cursive;
    /* color: rgb(238, 28, 63); */
    padding: 15px;
}
li{
    /* list-style: none;
    display: inline-block;
    margin-top:30px;
    margin-right: 20px;
    padding-left: 5px; */
    
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 5px;

}

li a{
    text-decoration: none;
    color: rgb(28, 26, 26);
    font-size:15px;
    margin-right: 17px;
    gap: 15px;
    margin-top: 25px;
}
li a:hover{
    /* color: rgb(246, 6, 46); */
    color: #fa2b81;
}
/* .dropdown{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    min-width: 180px;
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    border-radius: 6px;
}
.dropdown-menu li a{
    padding: 10px 15px;
} */
 li a.active{
    /* color:rgb(246, 6, 46); */
    color: #fa2b81;
 }
 .log{
    padding: 8px 8px;
margin-left: 90px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background:#f5a1c4;
     transition: background-color 0.3s ease,transform 0.3s ease;
     
 }
 .log a{
    color:white;
    text-decoration: none;
   
 }
 .log:hover{
 transform: scale(1.05);
 }
 .sign{
     padding: 8px 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background:#f5a1c4;
     transition: background-color 0.3s ease,transform 0.3s ease;
     margin-left: 20px;
 }
 .sign a{
    color: white;
    text-decoration: none;
 }
 .sign:hover{
    transform: scale(1.05);
 }
.cart-icon{
    color: black !important;
    font-size: 20px;
    position: relative;
    margin-right: 20px;
}
#cart-count{
/* padding: 2px 6px; */
border-radius: 50%;
font-size: 12px;
}

.footer{
background-color:  #d9c7b8;
   padding: 40px 20px;
   margin-top: 40px;
   width: 100%;
}
.footer a{
     color: #2f2a26;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
    gap: 30px;
}
.footer-section h4{
    margin-bottom: 10px;
    font-size: 18px;
    color: #2f2a26;
}
.footer-logo{
    font-size: 24px;
    font-weight: bold;
    color: #2f2a26;
}
.footer-sectin p{
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-text{
    font-size: 16px;
    color: #4a3f35;
}
.footer-section ul {
list-style: none;
padding: 0;
}
.footer-section ul li{
    margin: 6px 0;
}
.footer-section a{
    color: #2f2a26;
    text-decoration: none;
    transition: 0.3s;
}
.footer-section a:hover{
    text-decoration: underline;
}
.footer-links ul{
list-style: none;
padding: 0;
margin: 0;
column-count: 2;
column-gap: 1px;
}
.footer-links ul li{
    margin-bottom: 10px;
}
.footer-sect h4{
margin-left: 40px;

}
.footer-bottom{
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid #b9a797;
    font-size: 14px;
    color: #2f2a26;
}
/* media */
@media(max-width:768px){
    .footer-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .footer-logo{
        font-size: 20px;
    }
    .footer-section h4{
        font-size: 16px;
    }
.footer-text{
    font-size: 13px;
}
}
/* phones */
@media(max-width:480px){
    .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .social-links a{
        margin: 5px;
        display: inline-block;
    }
    .footer-section ul li{
margin: 4px 0;
    }
    .footer-bottom{
        font-size: 13px;
    }
}
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
} */
.login-container{
    background: white;
    padding: 40px 30px;
    width: 350px;
    margin-top: 130px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 160px;
   margin-left: 32%;
}
.login-container h2{
    margin-bottom: 10px;
    font-size: 28px;

}
.subtitle{
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}


.input-group{
    text-align: left;
    margin-bottom: 20px;
}
.input-group label{
    font-size: 14px;
    color: #333;
}
.input-group input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn{
    width: 50%;
    padding: 12px; 
  background:#f5a1c4;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;
}
.login-btn:hover{
    opacity: 0.9;
}
.signup-text{
    margin-top: 15px;
    font-size: 14px;
}
.signup-text a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.signup-text a:hover{
    text-decoration: underline
};