
.navbar{
    /* background-color:#faf9f5;
    font-family:"Poppins",sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    /* position: fixed;
    top: 0;
    left:0;
    width: 100%;
    gap: 20px; 
    z-index: 1000; */ 
    padding: 0;
}
.navdiv{
    display: flex;
    align-items: center;
    gap: 400px;
    position: fixed;
    top: 0;
    /* justify-content: space-between; */
    left:0;
    width: 100%;
    gap: 140px; 
     margin-right: 0px;
     /* background-color:lightpink; */
     background-color: #fff7f0;
  
    font-family:"Poppins",sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1000;

}
.logo{
    font-size: 39px;
    font-family: 'Dancing Script',cursive;
    /* color: rgb(238, 28, 63); */
    padding: 15px;
}
li{
    /* list-style: none;
    display: inline-block;
    margin-top:30px;
    margin-right: 20px;
    padding-left: 5px; */
    
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 5px;

}

li a{
    text-decoration: none;
    color: rgb(28, 26, 26);
    font-size:15px;
    margin-right: 17px;
    gap: 15px;
    margin-top: 25px;
}
li a:hover{
    /* color: rgb(246, 6, 46); */
    color: #fa2b81;
}
/* .dropdown{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    min-width: 180px;
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    border-radius: 6px;
}
.dropdown-menu li a{
    padding: 10px 15px;
} */
 li a.active{
    /* color:rgb(246, 6, 46); */
    color: #fa2b81;
 }
 .log{
    padding: 8px 8px;
margin-left: 90px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background:#f5a1c4;
     transition: background-color 0.3s ease,transform 0.3s ease;
     
 }
 .log a{
    color:white;
    text-decoration: none;
   
 }
 .log:hover{
 transform: scale(1.05);
 }
 .sign{
     padding: 8px 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background:#f5a1c4;
     transition: background-color 0.3s ease,transform 0.3s ease;
     margin-left: 20px;
 }
 .sign a{
    color: white;
    text-decoration: none;
 }
 .sign:hover{
    transform: scale(1.05);
 }
.cart-icon{
    color: black !important;
    font-size: 20px;
    position: relative;
    margin-right: 20px;
}
#cart-count{
/* padding: 2px 6px; */
border-radius: 50%;
font-size: 12px;
}

.footer{
background-color:  #d9c7b8;
   padding: 40px 20px;
   margin-top: 40px;
   width: 100%;
}
.footer a{
     color: #2f2a26;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
    gap: 30px;
}
.footer-section h4{
    margin-bottom: 10px;
    font-size: 18px;
    color: #2f2a26;
}
.footer-logo{
    font-size: 24px;
    font-weight: bold;
    color: #2f2a26;
}
.footer-sectin p{
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-text{
    font-size: 16px;
    color: #4a3f35;
}
.footer-section ul {
list-style: none;
padding: 0;
}
.footer-section ul li{
    margin: 6px 0;
}
.footer-section a{
    color: #2f2a26;
    text-decoration: none;
    transition: 0.3s;
}
.footer-section a:hover{
    text-decoration: underline;
}
.footer-links ul{
list-style: none;
padding: 0;
margin: 0;
column-count: 2;
column-gap: 1px;
}
.footer-links ul li{
    margin-bottom: 10px;
}
.footer-sect h4{
margin-left: 40px;

}
.footer-bottom{
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid #b9a797;
    font-size: 14px;
    color: #2f2a26;
}
body{
 background-color: #f9f3f0;
}
.signup-container{
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 150px;
    margin-left: 32%;
}
.signup-container h2{
    margin-bottom: 20px;
    color: #5a3e36;
}
.signup-container form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}
.signup-container form button{
    width: 50%;
    padding: 12px;
    background:#f5a1c4;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
.signup-container form button a{
    color: #fff;
    text-decoration: none;
}
.signup-container form button:hover{
  background:#f5a1c4;
}
.signup-container p{
    margin-top: 20px;
    font-size: 0.9rem;
    color: #6b4c3b;
}
.signup-container p a{
    color: #c88f6e;
    text-decoration: none;
}
.signup-container p a:hover{
    text-decoration: underline;
}