.navbar{
    /* background-color:#faf9f5;
    font-family:"Poppins",sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    /* position: fixed;
    top: 0;
    left:0;
    width: 100%;
    gap: 20px; 
    z-index: 1000; */ 
    padding: 0;
}
.navdiv{
    display: flex;
    align-items: center;
    gap: 400px;
    position: fixed;
    top: 0;
    /* justify-content: space-between; */
    left:0;
    width: 100%;
    gap: 140px; 
     margin-right: 0px;
     /* background-color:lightpink; */
     background-color: #fff7f0;
  
    font-family:"Poppins",sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1000;

}
.logo{
    font-size: 39px;
    font-family: 'Dancing Script',cursive;
    /* color: rgb(238, 28, 63); */
    padding: 15px;
}
li{
    /* list-style: none;
    display: inline-block;
    margin-top:30px;
    margin-right: 20px;
    padding-left: 5px; */
    
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 5px;

}

li a{
    text-decoration: none;
    color: rgb(28, 26, 26);
    font-size:15px;
    margin-right: 17px;
    gap: 15px;
    margin-top: 25px;
}
li a:hover{
    /* color: rgb(246, 6, 46); */
    color: #fa2b81;
}
/* .dropdown{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    min-width: 180px;
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    border-radius: 6px;
}
.dropdown-menu li a{
    padding: 10px 15px;
} */
 li a.active{
    /* color:rgb(246, 6, 46); */
    color: #fa2b81;
 }
 .log{
    padding: 8px 8px;
margin-left: 90px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background:#f5a1c4;
     transition: background-color 0.3s ease,transform 0.3s ease;
     
 }
 .log a{
    color:white;
    text-decoration: none;
   
 }
 .log:hover{
 transform: scale(1.05);
 }
 .sign{
     padding: 8px 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background:#f5a1c4;
     transition: background-color 0.3s ease,transform 0.3s ease;
     margin-left: 20px;
 }
 .sign a{
    color: white;
    text-decoration: none;
 }
 .sign:hover{
    transform: scale(1.05);
 }
.cart-icon{
    color: black !important;
    font-size: 20px;
    position: relative;
    margin-right: 20px;
}
#cart-count{
/* padding: 2px 6px; */
border-radius: 50%;
font-size: 12px;
}
/* .dropdown-menu li a:hover{
    background: #f5f5dc;
} */
/* .dropdown:hover .dropdown-menu{
    display: block;
} */
@media screen and (max-width:768px){
    .navdiv{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .navdiv ul{
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .navdiv ul li{
        width: 100%;
    }
    .navdiv ul li a{
        width: 100%;
        padding: 12px 15px;
    }
    .dropdown-menu{
        position: static;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
.dropdown-menu li a{
    padding: 12px 15px;
}
}

/* hero */
.hero-section{
    margin: 0 auto;
    padding: 20px 40px;
    background-image: url(/hero-image/land.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    text-align: center;
}
.main-heading{
    font-size: 55px;
    margin-bottom: 25px;
    padding-top: 80px;
    margin-left: 20px;
    color: #473030;
}
.main-paragraph{
    font-size: 25px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 25px;
     margin-bottom: 15px;
    /* padding-top: 15px; */
    margin-left: 20px;
}
.btn-group{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
}
.hero-butt{
    text-decoration: none;
    /* background-color: rgb(86, 77, 77); */
    /* background-color:#f5a1c4; */
    padding: 12px 25px;
    border-radius: 10px;
border: 1.5px solid #f5a1c4;
    font-size: 17px;
    font-weight: 600;
    background: rgb(250, 246, 246);
    /* color:#383737; */
    color:  #f964a2;
    transition: background-color 0.3s ease,transform 0.3s ease;

}
.hero-butt:hover{
    transform: scale(1.05);
}
.hero-butt a{
    color: white;
}
.hero-but:hover{
     background-color: #fff7f0;
       color: black;
}
.hero-but{
    text-decoration: none;
    /* background-color: rgb(231, 231, 226); */
    /* background-color: pink; */
   
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
  

     background-color: #f5a1c4;
    color: #fff;
}
@media(max-width:768px){
    .main-heading{
        font-size: 2.2rem;
    }
    .main-paragraph{
        font-size: 1rem;
    }
    .btn-group{
        padding: 10px 20px;
    }
    .hero-but{
        flex-direction: column;
    }
    .hero-butt{
        flex-direction: column;
    }
} 
/* about */
.about{
    padding: 60px 20px;
    background: white;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    max-width: 1100px;
    margin: auto;
}
.about-image{
    width: 350px;
    max-height: 380px;
object-fit: cover;
    border-radius: 12px;
    
}
.about-text{
    max-width: 500px;
}
.about-text h2{
    font-size: 30px;
    color: #563838;
    margin-bottom: 15PX;

}
.about-text p{
    font-size: 17px;
    color: #666;
    line-height: 1.6;
}
.about-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    /* background: rgb(252, 143, 161); */
    background-color: #f5a1c4;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease,transform 0.3s ease;
}
.about-btn:hover{
    transform: scale(1.05);
    
}
@media(max-width:768px){
    .about-container{
        flex-direction: column;
        text-align: center;
    }
    .about-image img{
        width: 10%;
        max-width: 350px;
    }
}
/* new arrival */
.new-arrivals{
    /* background-color: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);; */
    padding: 2rem;
    background-color: #f2f2f2;
    text-align: center;
    height: 1500px;
    /* border-radius: 12px;
    background: rgba(255,255,255,0.03);
    box-shadow: 0 6px 20px rgba(0,0,0,0.3); */
}
.new-arrivals h2{
    font-size: 27px;
  color: #563838;
    margin-bottom: 1rem;
    font-family: 'inter',system-ui, -apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial;
}
.new-arrivals p{
    font-size: 15px;
    margin: 0 0 1.4rem 0;
    color: #444;
    
    text-align: center;
}
.new-arrivals .products{
    display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,1fr);
   gap: 2rem;
}
/* .new-arrivals-end{
    /* text-align: center; */
    /* margin-top:70px; */
/* } */
/* .new-arrivals-end p{
    font-size: 1.05rem;
    color:#444;
    max-width: 700px;
    margin: 0 auto 1.8rem;
    line-height: 1.5;
}
.view-gallery-btn{
    display: flex;
    justify-content: center;

}
.view-gallery-btn a{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: #f5a1c4;
   border: 1px solid black;
   border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    
} */ */
.product-card{
    background:#ffffff;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s,box-shadow 0.3s;
}
.product-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}
.product-card img{
    width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
}
.product-card h4{
    color: #444444;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding-top: 10px;
}
.product-card p{
color: #444444;
margin-bottom: 1rem;
font-size:1rem;
}
.product-card button{
    background-color: #f5a1c4;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s;
    
}
.product-card button a{
    text-decoration: none;
    color: white;
    font-size: bold;
}
.product-card button:hover{
    background: #ffb6c1;
}
/* media pro */
@media screen and (max-width:768px){
    .product-card{
        padding: 0.8rem;
        border-radius: 8px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 3px 8px rgba(0,0,0,0.08);
    }
    .product-card:hover{
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    }
    .product-card img{
        width: 100%;
        border-radius: 8px;
        margin-top: 0.8rem;
    }
    .product-card h4{
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }
    .product-card button{
        padding: 0.4rem 0.8rem;
        font-size: 15px;
        border-radius: 5px;
        border: none;
    }
    /* end */
}
@media(max-width:576px){
    .new-arrivals .products{
        grid-template-columns: 1fr;
        gap: 0.9rem;
    }
    .new-arrivals .products img{
        margin-top: 0.7rem;
    }
    .new-arrivals{
        padding: 1rem;
        margin: 1.2rem auto;
    }
    .new-arrivals h2{
        font-size: 1.25rem;
    }
    .new-arrivals p{
        font-size: 0.98rem;
        margin-bottom: 1rem;
    }

}

/* .carousel{
    height: 100px;
}
.carousel2{
    width: 500px;
    height: 400px;
} */

.service-card{
    display: flex;
}

.service-sect{
    text-align: center;
    padding: 60px 30px;
    background-color: #faf9f8;
}
.service-sect h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: #563838;;
}
.service-sect .par{
    max-width: 600px;
    margin: 0 auto ;
    color: #555;
    font-size: 17px;
}
.cards{
    display:flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
}
.card-container{
    padding:#fff;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    transition: transform 0.3s;
    background-color: white;
    width: 300px;
    border-radius: 5px;
}
.card-container:hover{
    transform: translateY(-5px);
}
.card-container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
.card-container h5{
    font-size: 18px;
    margin: 15px 0 10px;
    color:black;
}
.card-container p{
    color: #666;
    font-size: 17px;
    line-height: 1.5;
}
/* med */
@media(max-width:576px){
    .service-sect{
        text-align: center;
        padding: 30px 15px;
    }
    .service-sect h3{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .service-sect p{
        max-width: 100%;
        margin: 0 auto 25px;
        font-size: 14px;
        line-height: 1.5;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .card-container{
        padding: 18px;
    }
    .card-container h5{
        font-size: 16px;
        margin-bottom: 6px;
    }
    .card-container p{
        font-size: 14px;
        line-height: 1.6;
    }
}
.fq{
margin: 10px 10px;
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 20px 0;
   
}
.faq{
    font-size: 23px;
    margin-bottom: 20px;
    color: #473030;
}
.faq-intro{
    font-size: 1.02rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.6;
     font-family: 'inter';
}
details{
    background: rgb(247, 237, 237);
    border-radius: 8px;
    padding: 12px 15px;
    margin-bottom: 12px;
    border: 1px solid #e3e3e3;
    transition: all 0.3s ease;
    color: #444;
    font-family: inherit;
}
summary{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
}

summary::webkit-details-marker{
    display: none;
}
summary::after{
    content: "+";
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s ease;
}
details[open] summary::after{
    content:"-";
}
details p{
    margin: 10px 0 0;
    font-size: 15px;
    line-height: 1.5;
    color: #555;
}
details[open]{
    background: #fff;
    border-color: #ffb6c1;
}
/* media */
@media (max-width:576px){
    .fq{
        padding: 15px 10px;
    }
    .faq{
        font-size: 18px;
    }
    .faq-intro{
        font-size: 0.6rem;
        margin-bottom: 1.5rem;
    }
    details{
        padding: 10px 10px;
        margin-bottom: 10px;
    }
    summary{
        font-size: 14px;
        flex-direction: column;
        align-items: flex-start;
    }
}


.review-cont{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 30px;
}
.review-card p{
    font-size:1rem;
    /* color: #555; */
    margin: 0 auto 40px;

}
.head{
    font-size: 24px;
    /* color: rgb(219, 21, 21); */
    margin-left: 20px;
}
.review h4{
    font-size: 22px;
}
.test-section{
margin-top: 130px;
text-align: center;
}
.test-section h2{
    color: #473030;
    font-size: 25px;
    margin-bottom: 10px;
}
.test-section p{
    font-size: 16px;
    color: #444;
    padding-bottom: 10px;
}
.review-card{
    align-items: center;
    width: 300px;
    height: 300px;
    gap: 10px;
    background-color: #f3efef;
    box-shadow: 0 4px 10px rgba(0 0 0 0.07);
    border-radius: 20px;
    padding: 20px 20px;
    /* transition: transform 0.3 ease; */
    margin-right: 15px;
    margin-bottom: 180px;
}
/* .review-card:hover{
    transform: translateX(-5px);
} */
.review-card h4{
    margin-bottom: 10px;
    /* color: black; */
    color: #c27664;
    font-size: 1.3rem;
}
.review-card p{
    color: #444;
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: start;
}
 .stars{
    color: gold;
    font-size: 1.1rem;
    text-align: start;
 }
 .review-cont{
    display: flex;
    justify-content: center;
    gap: 20px;
    /* flex-wrap: wrap; */
 }
 .review-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #c9a86a;
 }
 .review-conts{
    margin-top: 45px;
    display: flex;
    margin-left: 230px;
    gap: 40px;
 }
.review-conta{
    display: flex;
    margin-top: 40px;
    gap: 50px;
    margin: 40px;
}
.rev{
    display:flex;
}
.review-conti{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
/* media */

@media (max-width:768px){
.test-section{
    margin-top: 60px;
    text-align: center;
    padding: 0 15px;
}
.test-section h2{
    font-size: 20px;
}
.test-section p{
    font-size: 14px;
    padding-bottom: 5px;
}
.review-conts,
.review-cont,
.review-conti{
    margin-left: 0;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.review-card:hover{
    transform: translateX(0);
}
.review-card h4{
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.review-card p{
    font-size: 0.95rem;
    margin-bottom: 12px;
    line-height: 1.5;
}
.stars{
    font-size: 1rem;
}
.review-img{
    width: 70px;
    height: 70px;
    margin-bottom: 12px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #c9a86a;
}
.head{
    font-size: 20px;
    margin-top: 5px;
}
}



.footer{
background-color:  #d9c7b8;
   padding: 40px 20px;
   margin-top: 40px;
   width: 100%;
}
.footer a{
     color: #2f2a26;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
    gap: 30px;
}
.footer-section h4{
    margin-bottom: 10px;
    font-size: 18px;
    color: #2f2a26;
}
.footer-logo{
    font-size: 24px;
    font-weight: bold;
    color: #2f2a26;
}
.footer-sectin p{
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-text{
    font-size: 16px;
    color: #4a3f35;
}
.footer-section ul {
list-style: none;
padding: 0;
}
.footer-section ul li{
    margin: 6px 0;
}
.footer-section a{
    color: #2f2a26;
    text-decoration: none;
    transition: 0.3s;
}
.footer-section a:hover{
    text-decoration: underline;
}
.footer-links ul{
list-style: none;
padding: 0;
margin: 0;
column-count: 2;
column-gap: 1px;
}
.footer-links ul li{
    margin-bottom: 10px;
}
.footer-sect h4{
margin-left: 40px;

}
.footer-bottom{
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid #b9a797;
    font-size: 14px;
    color: #2f2a26;
}
/* media */
@media(max-width:768px){
    .footer-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .footer-logo{
        font-size: 20px;
    }
    .footer-section h4{
        font-size: 16px;
    }
.footer-text{
    font-size: 13px;
}
}
/* phones */
@media(max-width:480px){
    .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .social-links a{
        margin: 5px;
        display: inline-block;
    }
    .footer-section ul li{
margin: 4px 0;
    }
    .footer-bottom{
        font-size: 13px;
    }
}